{% extends 'base.html' %}

{% block title %} Добавить запись {% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form class="form-control" method="post" enctype="multipart/form-data">
        <h1 class="text-center">Добавление записа</h1>
        {% if not current_user.is_authenticated %}
            <div class="alert alert-warning">Пройдите авторизацию</div>
        {% endif %}
        <br>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Заголовка</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" placeholder="Заголовка" value="{{ title }}">
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Текст</label>
            <div class="col-sm-10">
              <textarea name="content" id="content" cols="30" rows="10" class="form-control ckeditor">{{ content }}</textarea>
            </div>
          </div>
          <br>
          {% if current_user.is_authenticated %}
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Добавить</button>
          </div>
          {% else %}
          <div class="d-flex justify-content-center">
            <button type="submit" disabled class="btn btn-success">Добавить</button>
          </div>
          {% endif %}
          <br>
    </form>
{% endblock %}