{% extends 'base.html' %}

{% block title %} Мой записи {% endblock %}

{% block content %}
        {% include 'nav_in.html' %}
        <h3 class="text-center">Мой записи</h3>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{cat}}">{{ msg }}</div>
    {% endfor %}
    <!-- ------------------------------------------ -->
    <div class="container">
        {% if posts %}
        {% for post in posts %}
        <div class="row mt-5">
            <div class="preview-card">
                <div class="preview-card__wrp">
                    <div class="preview-card__item">
                            <div class="preview-card__content">
                            <div class="preview-card__title">{{ post.title }}</div>
                            <span class="preview-card__code">{{ post.created_at.strftime('%d %B %Y') }}</span>
                            <div class="preview-card__text form-control">{{ post.content[:500] | safe }}{% if post.content|length > 500 %}...{% endif %}</div>
                            <a href="{{ url_for('read_post', id = post.id) }}" class="btn btn-primary">Читать дальше</a>
                                <a href="{{ url_for('edit_post', id = post.id) }}" class="btn btn-warning">Редактировать</a>
                                <form action="{{ url_for('delete_post', id=post.id) }}" method="post" style="display: inline-block">
                                    <button class="btn btn-danger" type="submit">Удалить</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p class="alert alert-info">Нет записи</p>
    {% endif %}
    </div>
{% endblock %}